@model FEE.ViewModel.RoleViewModel

@{ 
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml"; 
}

@Html.Partial("_MessageAlert")

<div class="box box-warning">
    <div class="box-header with-border">
        <h3 class="box-title">Thêm nhóm quyền</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        @using (Html.BeginForm("Create", "Role", FormMethod.Post))
        {
            <div class="form-group">
                <label>Tên nhóm quyền:</label>
                @Html.TextBoxFor(model => model.Name, htmlAttributes: new { @class = "form-control", @placeholder = "Nhập tên nhóm quyền" })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })

            </div>
            <div class="box-footer">
                <button type="submit" class="btn btn-primary">Thêm mới</button>
                <a href="/Admin/Role/Index" class="btn btn-default">Quay lại</a>
            </div>
         }
    </div>
</div>
