<header class="main-header"> 
    <a href="/" class="logo">
        <span class="logo-lg">Khoa Điện</span>
    </a>

    <nav class="navbar navbar-static-top" role="navigation">
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        @if ((FEE.Dtos.UserSession)Session["USER"] != null)
                        {
                            var user = (FEE.Dtos.UserSession)Session["USER"];
                            <img src="@user.Image" class="user-image" alt="User Image">
                            <span class="hidden-xs">Người dùng: @user.Name</span>
                        }

                    </a>
                    <ul class="dropdown-menu">
                        <li class="user-footer" style="padding-bottom:0px">
                            <a href="/Admin/User/UserInfo" class="btn btn-default btn-flat">Thông tin tài khoản</a>
                        </li>
                        <li class="user-footer" style="padding-bottom:0px">
                            <a href="/Admin/Auth/ChangePass" class="btn btn-default btn-flat">Đổi mật khẩu</a>
                        </li>
                        <li class="user-footer">
                            <a href="/Admin/Auth/LogOut" class="btn btn-default btn-flat">Đăng xuất</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>