USE [master]
GO
/****** Object:  Database [FEE]    Script Date: 6/3/2021 6:36:24 PM ******/
CREATE DATABASE [FEE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FEE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\FEE.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FEE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\FEE_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FEE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FEE]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 6/3/2021 6:36:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 6/3/2021 6:36:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[Status] [bit] NOT NULL,
	[CreateBy] [int] NULL,
	[CreateDate] [datetime] NOT NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateBy] [int] NULL,
	[Deleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CommandInFunctions]    Script Date: 6/3/2021 6:36:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CommandInFunctions](
	[CommandId] [nvarchar](128) NOT NULL,
	[FunctionId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.CommandInFunctions] PRIMARY KEY CLUSTERED 
(
	[CommandId] ASC,
	[FunctionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Commands]    Script Date: 6/3/2021 6:36:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Commands](
	[CommandId] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](100) NULL,
 CONSTRAINT [PK_dbo.Commands] PRIMARY KEY CLUSTERED 
(
	[CommandId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contacts]    Script Date: 6/3/2021 6:36:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contacts](
	[ContactId] [int] IDENTITY(1,1) NOT NULL,
	[Content] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[Status] [bit] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[ReplyDate] [datetime] NULL,
 CONSTRAINT [PK_dbo.Contacts] PRIMARY KEY CLUSTERED 
(
	[ContactId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 6/3/2021 6:36:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[DepartmentId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Departments] PRIMARY KEY CLUSTERED 
(
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Functions]    Script Date: 6/3/2021 6:36:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Functions](
	[FunctionId] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Url] [nvarchar](max) NULL,
	[SortOrder] [int] NULL,
	[ParentId] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.Functions] PRIMARY KEY CLUSTERED 
(
	[FunctionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Images]    Script Date: 6/3/2021 6:36:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Images](
	[ImgId] [int] IDENTITY(1,1) NOT NULL,
	[Img] [nvarchar](max) NULL,
	[Status] [bit] NOT NULL,
	[CreateBy] [int] NULL,
	[CreateDate] [datetime] NOT NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateBy] [int] NULL,
	[Deleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Images] PRIMARY KEY CLUSTERED 
(
	[ImgId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menus]    Script Date: 6/3/2021 6:36:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menus](
	[MenuId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[URL] [nvarchar](max) NULL,
	[DisplayOrder] [int] NULL,
	[Status] [bit] NOT NULL,
	[ParentId] [int] NULL,
	[CreateDate] [datetime] NOT NULL,
	[UpdateDate] [datetime] NULL,
 CONSTRAINT [PK_dbo.Menus] PRIMARY KEY CLUSTERED 
(
	[MenuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Partners]    Script Date: 6/3/2021 6:36:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partners](
	[PartId] [int] IDENTITY(1,1) NOT NULL,
	[Img] [nvarchar](max) NULL,
	[Status] [bit] NOT NULL,
	[CreateBy] [int] NULL,
	[CreateDate] [datetime] NOT NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateBy] [int] NULL,
	[Deleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Partners] PRIMARY KEY CLUSTERED 
(
	[PartId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permissions]    Script Date: 6/3/2021 6:36:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permissions](
	[FunctionId] [nvarchar](128) NOT NULL,
	[RoleId] [int] NOT NULL,
	[CommandId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.Permissions] PRIMARY KEY CLUSTERED 
(
	[FunctionId] ASC,
	[RoleId] ASC,
	[CommandId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Posts]    Script Date: 6/3/2021 6:36:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Posts](
	[PostId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[Alias] [nvarchar](256) NULL,
	[CategoryId] [int] NOT NULL,
	[MenuId] [int] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Content] [nvarchar](max) NULL,
	[HomeFlag] [bit] NOT NULL,
	[HotFlag] [bit] NOT NULL,
	[Img] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[DepartmentId] [int] NOT NULL,
	[IsShow] [bit] NOT NULL,
	[ViewCount] [int] NOT NULL,
	[LikeCount] [int] NOT NULL,
	[Tag] [nvarchar](max) NULL,
	[Author] [nvarchar](max) NULL,
	[CreateBy] [int] NULL,
	[CreateDate] [datetime] NOT NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateBy] [int] NULL,
	[Deleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Posts] PRIMARY KEY CLUSTERED 
(
	[PostId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 6/3/2021 6:36:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Roles] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Slides]    Script Date: 6/3/2021 6:36:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Slides](
	[SlideId] [int] IDENTITY(1,1) NOT NULL,
	[Img] [nvarchar](max) NULL,
	[Status] [bit] NOT NULL,
	[CreateBy] [int] NULL,
	[CreateDate] [datetime] NOT NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateBy] [int] NULL,
	[Deleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Slides] PRIMARY KEY CLUSTERED 
(
	[SlideId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tags]    Script Date: 6/3/2021 6:36:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tags](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Tags] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 6/3/2021 6:36:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Email] [varchar](256) NULL,
	[Phone] [varchar](20) NULL,
	[DepartmentId] [int] NOT NULL,
	[Username] [varchar](250) NULL,
	[Password] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
	[CreateBy] [int] NULL,
	[CreateDate] [datetime] NOT NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateBy] [int] NULL,
	[Deleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WebInfo]    Script Date: 6/3/2021 6:36:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WebInfo](
	[WebInfoId] [int] IDENTITY(1,1) NOT NULL,
	[Logo] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[Facebook] [nvarchar](max) NULL,
	[Youtube] [nvarchar](max) NULL,
	[Zalo] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.WebInfo] PRIMARY KEY CLUSTERED 
(
	[WebInfoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryId], [Name], [Status], [CreateBy], [CreateDate], [UpdateDate], [UpdateBy], [Deleted]) VALUES (1, N'Tin tức ', 0, 1, CAST(N'2021-08-05T00:00:00.000' AS DateTime), NULL, NULL, 0)
INSERT [dbo].[Categories] ([CategoryId], [Name], [Status], [CreateBy], [CreateDate], [UpdateDate], [UpdateBy], [Deleted]) VALUES (3, N'Thông báo', 0, 1, CAST(N'2021-08-05T00:00:00.000' AS DateTime), NULL, NULL, 0)
INSERT [dbo].[Categories] ([CategoryId], [Name], [Status], [CreateBy], [CreateDate], [UpdateDate], [UpdateBy], [Deleted]) VALUES (4, N'Tuyển sinh', 0, 1, CAST(N'2021-08-05T00:00:00.000' AS DateTime), NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
INSERT [dbo].[CommandInFunctions] ([CommandId], [FunctionId]) VALUES (N'CREATE', N'CONTENT')
INSERT [dbo].[CommandInFunctions] ([CommandId], [FunctionId]) VALUES (N'CREATE', N'CONTENT_CATEGORY')
INSERT [dbo].[CommandInFunctions] ([CommandId], [FunctionId]) VALUES (N'CREATE', N'CONTENT_POST')
GO
INSERT [dbo].[Commands] ([CommandId], [Name]) VALUES (N'UPDATE', N'Chỉnh sửa')
INSERT [dbo].[Commands] ([CommandId], [Name]) VALUES (N'CREATE', N'Thêm mới')
INSERT [dbo].[Commands] ([CommandId], [Name]) VALUES (N'TRASH', N'Thùng rác')
GO
SET IDENTITY_INSERT [dbo].[Contacts] ON 

INSERT [dbo].[Contacts] ([ContactId], [Content], [Name], [Email], [Phone], [Status], [CreateDate], [ReplyDate]) VALUES (1, N'Cho em hỏi là mấy giờ rồi ?', N'Vũ Chung Dũng', N'vuchungdunghlym@gmail.com', N'0913849547', 1, CAST(N'2021-01-06T00:00:00.000' AS DateTime), CAST(N'2021-06-03T04:02:51.813' AS DateTime))
INSERT [dbo].[Contacts] ([ContactId], [Content], [Name], [Email], [Phone], [Status], [CreateDate], [ReplyDate]) VALUES (3, N'abc', N'Vũ Chung Dũng', N'fee@utehy.edu.vn', N'0987123456', 0, CAST(N'2021-06-03T15:00:06.950' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Contacts] OFF
GO
SET IDENTITY_INSERT [dbo].[Departments] ON 

INSERT [dbo].[Departments] ([DepartmentId], [Name], [Status]) VALUES (1, N'Bộ môn điều khiển và tự động hóa', 0)
INSERT [dbo].[Departments] ([DepartmentId], [Name], [Status]) VALUES (2, N'Kỹ thuật điện', 0)
INSERT [dbo].[Departments] ([DepartmentId], [Name], [Status]) VALUES (3, N'Bộ môn kỹ thuật điện tử', 0)
SET IDENTITY_INSERT [dbo].[Departments] OFF
GO
INSERT [dbo].[Functions] ([FunctionId], [Name], [Url], [SortOrder], [ParentId]) VALUES (N'CONTENT', N'Nội dung', NULL, 2, NULL)
INSERT [dbo].[Functions] ([FunctionId], [Name], [Url], [SortOrder], [ParentId]) VALUES (N'CONTENT_CATEGORY', N'Quản lý loại tin', N'category/index', 0, N'CONTENT')
INSERT [dbo].[Functions] ([FunctionId], [Name], [Url], [SortOrder], [ParentId]) VALUES (N'CONTENT_CONTACT', N'Quản lý câu hỏi', N'contact/list', NULL, N'CONTENT')
GO
SET IDENTITY_INSERT [dbo].[Images] ON 

INSERT [dbo].[Images] ([ImgId], [Img], [Status], [CreateBy], [CreateDate], [UpdateDate], [UpdateBy], [Deleted]) VALUES (1, N'/UploadedFiles/images/dt-05.jpg', 1, 1, CAST(N'2021-06-01T15:41:10.837' AS DateTime), NULL, NULL, 0)
INSERT [dbo].[Images] ([ImgId], [Img], [Status], [CreateBy], [CreateDate], [UpdateDate], [UpdateBy], [Deleted]) VALUES (2, N'/UploadedFiles/images/01.jpg', 1, 1, CAST(N'2021-06-01T15:41:28.283' AS DateTime), NULL, NULL, 0)
INSERT [dbo].[Images] ([ImgId], [Img], [Status], [CreateBy], [CreateDate], [UpdateDate], [UpdateBy], [Deleted]) VALUES (3, N'/UploadedFiles/images/02.jpg', 1, 1, CAST(N'2021-06-01T15:41:36.490' AS DateTime), NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[Images] OFF
GO
SET IDENTITY_INSERT [dbo].[Menus] ON 

INSERT [dbo].[Menus] ([MenuId], [Name], [URL], [DisplayOrder], [Status], [ParentId], [CreateDate], [UpdateDate]) VALUES (33, N'Giới thiệu chung', NULL, 0, 1, 110, CAST(N'2021-06-05T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[Menus] ([MenuId], [Name], [URL], [DisplayOrder], [Status], [ParentId], [CreateDate], [UpdateDate]) VALUES (34, N'Điều khiển và tự động hóa', NULL, 0, 1, 110, CAST(N'2021-06-05T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[Menus] ([MenuId], [Name], [URL], [DisplayOrder], [Status], [ParentId], [CreateDate], [UpdateDate]) VALUES (36, N'Giới thiệu chung', NULL, 0, 1, 34, CAST(N'2021-06-05T00:00:00.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Menus] OFF
GO
SET IDENTITY_INSERT [dbo].[Partners] ON 

INSERT [dbo].[Partners] ([PartId], [Img], [Status], [CreateBy], [CreateDate], [UpdateDate], [UpdateBy], [Deleted]) VALUES (1, N'/UploadedFiles/images/festo_logo12.jpg', 1, 1, CAST(N'2021-06-01T17:36:12.733' AS DateTime), NULL, NULL, 0)
INSERT [dbo].[Partners] ([PartId], [Img], [Status], [CreateBy], [CreateDate], [UpdateDate], [UpdateBy], [Deleted]) VALUES (3, N'/UploadedFiles/images/ln-logo-kopf.gif', 1, 1, CAST(N'2021-06-01T17:36:44.733' AS DateTime), NULL, NULL, 0)
INSERT [dbo].[Partners] ([PartId], [Img], [Status], [CreateBy], [CreateDate], [UpdateDate], [UpdateBy], [Deleted]) VALUES (4, N'/UploadedFiles/images/pohe.png', 1, 1, CAST(N'2021-06-01T17:38:51.963' AS DateTime), NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[Partners] OFF
GO
INSERT [dbo].[Permissions] ([FunctionId], [RoleId], [CommandId]) VALUES (N'CONTENT', 1, N'VIEW')
INSERT [dbo].[Permissions] ([FunctionId], [RoleId], [CommandId]) VALUES (N'CONTENT', 2, N'VIEW')
INSERT [dbo].[Permissions] ([FunctionId], [RoleId], [CommandId]) VALUES (N'CONTENT_CATEGORY', 1, N'CREATE')
GO
SET IDENTITY_INSERT [dbo].[Posts] ON 

SET IDENTITY_INSERT [dbo].[Posts] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleId], [Name], [Status]) VALUES (1, N'Trưởng khoa', 0)
INSERT [dbo].[Roles] ([RoleId], [Name], [Status]) VALUES (2, N'Giảng viên', 0)
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Slides] ON 

INSERT [dbo].[Slides] ([SlideId], [Img], [Status], [CreateBy], [CreateDate], [UpdateDate], [UpdateBy], [Deleted]) VALUES (2, N'/UploadedFiles/images/dhnnk13.png', 1, 1, CAST(N'2021-05-12T23:29:32.767' AS DateTime), CAST(N'2021-05-14T23:12:15.453' AS DateTime), 1, 0)
INSERT [dbo].[Slides] ([SlideId], [Img], [Status], [CreateBy], [CreateDate], [UpdateDate], [UpdateBy], [Deleted]) VALUES (3, N'/UploadedFiles/images/cannon.png', 1, 1, CAST(N'2021-05-13T01:45:39.320' AS DateTime), NULL, NULL, 0)
INSERT [dbo].[Slides] ([SlideId], [Img], [Status], [CreateBy], [CreateDate], [UpdateDate], [UpdateBy], [Deleted]) VALUES (4, N'/UploadedFiles/images/umc_hy.png', 1, 1, CAST(N'2021-05-13T01:45:56.160' AS DateTime), NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[Slides] OFF
GO
SET IDENTITY_INSERT [dbo].[Tags] ON 

INSERT [dbo].[Tags] ([Id], [Name]) VALUES (4, N'Thông báo nghỉ dịch')
INSERT [dbo].[Tags] ([Id], [Name]) VALUES (5, N'Tuyển sinh đại học')
INSERT [dbo].[Tags] ([Id], [Name]) VALUES (6, N'Lịch thi học phần')
SET IDENTITY_INSERT [dbo].[Tags] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Name], [Email], [Phone], [DepartmentId], [Username], [Password], [Status], [RoleId], [CreateBy], [CreateDate], [UpdateDate], [UpdateBy], [Deleted]) VALUES (1, N'Trưởng khoa', N'admin@gmail.com', N'0913849543', 0, N'admin', N'0192023A7BBD73250516F069DF18B500', 0, 1, NULL, CAST(N'2021-06-02T17:03:06.257' AS DateTime), CAST(N'2021-06-03T16:05:25.297' AS DateTime), 1, 0)
INSERT [dbo].[Users] ([Id], [Name], [Email], [Phone], [DepartmentId], [Username], [Password], [Status], [RoleId], [CreateBy], [CreateDate], [UpdateDate], [UpdateBy], [Deleted]) VALUES (2, N'Vũ Chung Dũng', N'vuchungdunghlym@gmail.com', N'0913849547', 2, N'vuchungdung', N'0192023A7BBD73250516F069DF18B500', 0, 2, 1, CAST(N'2021-05-25T01:40:29.830' AS DateTime), CAST(N'2021-06-03T03:51:30.087' AS DateTime), NULL, 0)
INSERT [dbo].[Users] ([Id], [Name], [Email], [Phone], [DepartmentId], [Username], [Password], [Status], [RoleId], [CreateBy], [CreateDate], [UpdateDate], [UpdateBy], [Deleted]) VALUES (4, N'Người dùng 1', N'a@gmail.com', N'0913849546', 2, N'admin1', N'0192023A7BBD73250516F069DF18B500', 0, 2, 1, CAST(N'2021-06-03T16:54:58.107' AS DateTime), NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[WebInfo] ON 

INSERT [dbo].[WebInfo] ([WebInfoId], [Logo], [Email], [Phone], [Address], [Facebook], [Youtube], [Zalo]) VALUES (2, N'/UploadedFiles/images/logo1.png', N'fee@utehy.edu.vn  ', N'03213.713.087', N'Tòa nhà B5, Trường Đại học Sư phạm Kỹ thuật Hưng Yên, Khoái Châu - Hưng Yên', N'www.facebook.com/chungdung', N'www.facebook.com/chungdung', N'www.facebook.com/chungdung')
SET IDENTITY_INSERT [dbo].[WebInfo] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Name]    Script Date: 6/3/2021 6:36:24 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Name] ON [dbo].[Categories]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Name]    Script Date: 6/3/2021 6:36:24 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Name] ON [dbo].[Commands]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Name]    Script Date: 6/3/2021 6:36:24 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Name] ON [dbo].[Functions]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Name]    Script Date: 6/3/2021 6:36:24 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Name] ON [dbo].[Posts]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Email]    Script Date: 6/3/2021 6:36:24 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Email] ON [dbo].[Users]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Phone]    Script Date: 6/3/2021 6:36:24 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Phone] ON [dbo].[Users]
(
	[Phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Username]    Script Date: 6/3/2021 6:36:24 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Username] ON [dbo].[Users]
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
USE [master]
GO
