<div style="display:block;overflow:hidden;background:#f1f1f1;width:100%;max-width:640px;margin:auto">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-bottom:6px solid #fdd504" bgcolor="#ffffff">
    </table>
    <table width="100%" border="0" cellpadding="10" bgcolor="#ffffff" style="padding-bottom:10px">
        <tbody>
            <tr>
                <td style="font-size:13px;color:#333;padding:10px 10px 0 10px">Chào em <b>{{FullName}}</b>,</td>
            </tr>
        </tbody>
    </table>
    <table width="100%" border="0" cellpadding="10px" bgcolor="#ffffff" style="padding-bottom:10px;background-color:#fff">
        <tbody>
            <tr>
                <td style="font-size:13px;color:#333;padding:5px 10px 10px 10px">Mình là thầy <b>{{AdminName}}</b> xin được phản hồi câu hỏi của em như sau :</td>
            </tr>
        </tbody>
    </table>
    <table width="100%" border="0" cellpadding="10" bgcolor="#ffffff" style="padding-bottom:10px">
        <tbody>
            <tr>
                <td style="font-size:13px;color:#333;padding:20px 10px 10px 10px">
                   <span style="font-style:italic;font-size:14px;font-weight:600;color:black">{{RQ}}</span>
                </td>
            </tr>
        </tbody>
    </table>
    <table bgcolor="#ffffff" width="100%" border="0">
        <tbody>
            <tr>
                <td style="font-size:13px;color:#333;padding:15px 10px 0 10px">Cảm ơn em {{FullName}} đã phản hồi về cho khoa.</td>
            </tr>
        </tbody>
    </table>

    <table bgcolor="#ffffff" width="100%" border="0">
        <tbody>
            <tr>
                <td style="float:right;text-align:center;color:#fdd504;padding:15px 10px 15px 0px">
                    {{AdminName}}<br>                    
                </td>
            </tr>
        </tbody>
    </table>
    <table width="100%" border="0" cellspacing="0">
        <tbody>
            <tr>
                <td style="display:block;overflow:hidden;background:#333;color:#fff;font-size:13px;padding:10px 10px 10px 20px">
                    <p>Khoa Điện - Điện tử trường Đại học Sư phạm Kỹ thuật Hưng Yên.</p>
                </td>
            </tr>
        </tbody>
    </table>
</div>