<div style="display:block;overflow:hidden;background:#f1f1f1;width:100%;max-width:640px;margin:auto">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-bottom:6px solid #fdd504" bgcolor="#ffffff">
    </table>
    <table width="100%" border="0" cellpadding="10" bgcolor="#ffffff" style="padding-bottom:10px">
        <tbody>
            <tr>
                <td style="font-size:13px;color:#333;padding:10px 10px 0 10px">Xin chào</td>
            </tr>
        </tbody>
    </table>
    <table width="100%" border="0" cellpadding="10" bgcolor="#ffffff" style="padding-bottom:10px">
        <tbody>
            <tr>
                <td style="font-size:13px;color:#333;padding:20px 10px 10px 10px">
                    Mật khẩu tạm thời của bạn là: <span style="font-style:italic;font-size:14px;font-weight:600;color:black">{{password}}</span>
                </td>
            </tr>
        </tbody>
    </table>
    <table width="100%" border="0" cellspacing="0">
        <tbody>
            <tr>
                <td style="display:block;overflow:hidden;background:#333;color:#fff;font-size:13px;padding:10px 10px 10px 20px">
                    <b style="display:block">Khoa Điện - Điện tử trường Đại học Sư phạm Kỹ thuật Hưng Yên.</b>
                </td>
            </tr>
        </tbody>
    </table>
</div>