@model List<FEE.ViewModel.TagViewModel>

@foreach (var item in Model)
{
    <a href="/danh-muc-0-0-@item.TagId"><span class="label label-default" style="background-color:#5D9CEC">@item.Name</span></a>    
}
