<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lỗi ứng dụng</title>
</head>
<body>
    <section>
        <div class="container" style="padding-top:60px">
            <div class="row">
                <div class="col-md-12">
                    <a href="/" style="font-weight:600;color:#5D9CEC">QUAY LẠI TRANG CHỦ</a>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
